* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
}

body {}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.board {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 2rem;
}

.feedback {
    font-size: 1.2rem;
}

.reset {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
}